* {margin: 0; padding: 0;}

        .first {background-color: burlywood; height: 200px; width: 200px; font-size: 25px; font-style: italic;}
        .second {background-color: coral; height: 50%; width: 50%; font-size: 1.9rem; font-style: normal;}