* {margin: 0; padding: 0;}
        .first {background-color: burlywood; height: 20vh; width: 50vw; font-size: 30px; font-style: italic;box-sizing: border-box;}
        .second {background-color: coral; height: 50%; width: 50%; font-size: 50%; font-style: normal;box-sizing: border-box;}