* {margin: 0;}
        
        .first {height: 120px; 
            width: 600px; 
            background-color: antiquewhite; 
            border: 2px solid gray; margin: 10px;}

        .box1 {display: inline-block;
            background-color: aqua; 
            height: 100px; 
            width: 100px; 
            text-align: center;
            margin: 10px; 
            float: none;}

        .box2 {background-color: burlywood; 
            height: 100px; 
            width: 100px; 
            text-align: center;
            margin: 10px; 
            float: right;}