* {margin: 0; padding: 0;}
        
        .box {box-sizing: border-box; background-color: lightcoral; height: 10vh; width: 20vw; margin: 10px; padding-top:25px ; font-size: 30px; text-align: center;border: 2px solid rgb(214, 81, 126); border-radius: 8px; text-transform: capitalize; color: white;}

        /*display*/
        #container1 { display: block;}
        #container2 { display: inline;}
        #container3 { display: inline-block;}
        #container4 {display: none;}